doctype html
html
    head
        meta(charset="UTF-8")
        style.
            * {
                box-sizing: border-box;
            }

            @font-face {
                font-family: square;
                src: url(Square.ttf);
            }

            body {
                margin: 0;
                font-family: Arial, sans-serif;
                font-size: 11pt;
            }

            .lammie {
                display: flex;
                flex-direction: row;
                width: 300px;
                height: 180px;
                border: solid 2px black;
                margin: 5px;
                page-break-inside: avoid;
            }

            .lammie-main {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: 7px;
            }

            .lammie-tag {
                display: flex;
                font-family: square, Arial, sans-serif;
                text-orientation: sideways;
                writing-mode: vertical-rl;
                text-align: center;
                border-left: solid 2px black;
                padding: 6px;
                align-content: center;
                justify-content: center;
            }

            .lammie-id {
                white-space: nowrap;
                font-size: 0.9em;
            }

            .lammie-back {
                flex-direction: row;
                justify-content: flex-end;
            }

            .lammie-title {
                font-weight: bold;
                font-family: square, Arial, sans-serif;
                font-size: 1.1em;
            }

            .lammie-subtitle {
                font-style: italic;
                font-weight: bold;
            }

            .lammie-qr {
                width: 70px;
                height: 70px;
                margin: 3px 0px 0px 3px;
            }

            .lammie-qr-container {
                display: flex;
                align-items: flex-end;
            }

            .lammie-page
            {
                page-break-after: always;
                display: flex;

                flex-wrap: wrap;
            }

            .lammie-page.lammie-back
            {
                flex-direction: row-reverse;
                /*flex-wrap: wrap-reverse;*/
            }

            .lammie-abilities {
                font-size: 1.1em;
                font-weight: bold;
            }

            .lammie-ability
            {
                font-size:0.9em;
            }

            .lammie-charges {
                font-size: 1.1em;
            }

            .lammie-expires
            {
                font-size: 0.9em;
            }

            .lammie-mods {
                font-size: 1.1em;
                flex: 1;
            }

            .spacer {
                flex-grow: 1;
            }

            .lammie-back-header
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .lammie-back-body
            {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
            }

            .lammie-tag-back {
                font-size: 0.8em;
                border-right: 2px solid black;
                border-left: 0px solid black !important;
                padding: 5px !important;
            }



body
    .lammie-page
        each item in items
            .lammie
                .lammie-main
                    .lammie-title= item.itemModel.name
                    .lammie-subtitle= ItemType[item.itemModel.itemType]
                    .lammie-abilities Abilities:
                    each ability in item.itemModel.abilities
                        .lammie-ability= ability.description
                    .spacer
                    .lammie-charges
                        div= "Max Charges - " + (item.itemModel.baseCharges + calcExtraCharges(item))
                .lammie-tag
                    | EXOTIC
                    br
                    | SUBSTANCE

    .lammie-page.lammie-back
        each item in items
            .lammie
                .lammie-tag.lammie-tag-back
                    = "Cost: " + item.itemModel.baseCost + " Maint: " + item.maintenanceCost + " Mod: " + item.modCost
                .lammie-main
                    .lammie-back-header
                        .lammie-expires Expires before E6
                        .lammie-id= "ID - " + item.serial
                    .lammie-back-body
                        .lammie-mods Mods:
                            each mod in item.itemMods
                                .lammie-ability= mod.mod.description
                            if !item.itemMods.length
                                br
                                | None
                        .lammie-qr-container
                            .lammie-qr(id=item.serial)


script(src="https://cdn.rawgit.com/davidshimjs/qrcodejs/04f46c6a/qrcode.min.js")
script.
    const elements = [].slice.call(document.getElementsByClassName("lammie-qr"));

    elements.forEach(element => new QRCode(element, {
            text: element.id,
            width: 70,
            height: 70,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        }));